<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />

    <title>파일 확장자 차단 | 조형신</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img
          th:src="@{images/logo.svg}"
          src="../static/images/logo.svg"
          alt="플로우 로고"
        />
      </div>

      <section class="fixed-extension">
        <div class="section-header">
          <h3 class="section-title">고정 확장자</h3>
          <button class="reset-button" onclick="resetExtensionList('F')">
            <span>초기화 하기</span>
            <i class="refresh-icon fa-solid fa-rotate-right"></i>
          </button>
        </div>

        <ul class="fixed-extension-list">
          <li class="fixed-extension-item" th:each="fixed : ${fixedList}">
            <input
              type="checkbox"
              th:name="${fixed.name}"
              th:id="${fixed.name}"
            />

            <label
              th:text="${fixed.name}"
              th:class="${fixed.checked == 'Y'} ? 'button active' : 'button'"
              >FixedExtensionName</label
            >
          </li>
        </ul>
      </section>

      <section class="custom-extension">
        <div class="section-header">
          <h3 class="section-title">커스텀 확장자</h3>
          <div class="reset-button" onclick="resetExtensionList('C')">
            <span>초기화 하기</span>
            <i class="refresh-icon fa-solid fa-rotate-right"></i>
          </div>
        </div>

        <div class="valid-check-info">
          <i class="fa-solid fa-circle-info"></i>
          <span>확장자는 최대 20글자까지 입력 가능합니다.</span>
        </div>

        <div class="custom-extension-input-area">
          <input
            type="text"
            placeholder="확장자를 입력해주세요"
            maxlength="20"
          />
          <button class="add-button button">
            <i class="fa-solid fa-plus"></i>
            추가
          </button>
        </div>

        <div class="custom-extension-saved-area">
          <div class="custom-extension-count">
            <span class="current" th:text="${#lists.size(customList)}">0</span>
            / 200
          </div>

          <ul class="custom-extension-list">
            <li
              class="custom-extension-item button"
              th:each="custom : ${customList}"
            >
              <span class="custom-extension-name" th:text="${custom.name}"
                >CustomExtensionName</span
              >
              <button class="delete">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </li>
          </ul>
        </div>
      </section>

      <section class="file-upload">
        <div class="section-header">
          <h3 class="section-title">파일 업로드</h3>
        </div>

        <div class="file-upload-area">
          <input id="file" type="file" name="file" />
          <label class="file" for="file">
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
            <span>파일 선택하기</span>
          </label>

          <button class="submit">
            파일 제출
            <img
              th:src="@{images/long-arrow.svg}"
              src="../static/images/long-arrow.svg"
              aria-hidden=""
            />
          </button>
        </div>
      </section>
    </div>

    <script th:src="@{js/index.js}" src="../static/js/index.js"></script>
  </body>
</html>
